@import './shared/index.css';
@import './ui/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

#app {
  max-width: 500px;
  margin: 80px auto;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.winning-number {
  width: 30px;
  height: 36px;
}

.bonus-number {
  width: 30px;
  height: 36px;
}

.none {
  display: none;
}

.block {
  display: block;
}

.red {
  border: 1px solid red;
  outline: 1px solid red;
}

.price-selection {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.price-selection span {
  padding: 3px 10px;
  cursor: pointer;
  background-color: #aee0e7;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.price-selection span:hover {
  background-color: #6cc6d1;
}
