body,
html {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-family: 'SUITE', sans-serif;
  height: 100vh;
}

#content,
#title {
  resize: none;
  outline: none;
}

.none {
  display: none;
}

/* button */
[type='button'] {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

nav a {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

nav a:first-child {
  background: url(img/note_black.svg) no-repeat 27px center;
}

nav a:nth-child(2) {
  background: url(img/lock.svg) no-repeat 22px center;
}

nav a:nth-child(3) {
  background: url(img/archive.svg) no-repeat 22px center;
}

nav a:nth-child(4) {
  background: url(img/trash.svg) no-repeat 25px center;
}

nav a:nth-child(5) {
  background: url(img/settings.svg) no-repeat 22px center;
}

/* 새로생성될 친구들 === */

#note_display {
  overflow: auto;
}

.box-btn {
  display: flex;
  gap: 10px;
  justify-content: right;
}

.list {
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.list:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.list-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.7;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  cursor: pointer;
}

.list-content {
  font-size: 0.8rem;
  color: #636363;
  margin-bottom: 20px;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.7;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.list-id {
  display: none;
}

.list-modify,
.list-delete {
  font-size: 0.5rem;
  padding: 5px 12px;
  background-color: #e5e7eb;
  color: #959595;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  /* margin-left: auto; */
  display: block;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.list-modify:hover {
  color: white;
  background-color: #147c97;
}

.list-delete:hover {
  color: white;
  background-color: crimson;
}

/* modal === */
/* TODO z-index 수정필요, 앞으로 안나감 */
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  /* 모달창이 왼쪽 nav빼고 오른쪽만 다 차지하게 */
  grid-column: 2 / span 2;
  padding: 4rem 6rem;
  background-color: white;
  z-index: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.title-box {
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
  color: #373737;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.7;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.modal-content {
  font-size: 1.3rem;
  color: #515151;
  padding: 20px;
  overflow: auto;
  line-height: 1.7;
}

.close-btn {
  margin-right: 20px;
  padding: 15px;
  display: block;
  width: 32px;
  height: 32px;
  background: url(./img/close.svg) no-repeat center center/cover;
}

.close-btn:hover {
  animation: spin 0.5s ease-in-out;
  -webkit-animation: spin 0.5s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
