@import '_variables.scss';

@font-face {
  font-family: 'Technology-Bold';
  font-weight: 600;
  src: url('@assets/fonts/Technology-Bold.ttf') format('ttf');
}

* {
  box-sizing: border-box;
}

body {
  // font-family: 'SUITE Variable', sans-serif;
  font-family: 'Technology-Bold';
  background-color: $operator;
}

h1 {
  text-align: center;
  color: white;
}

.wrap {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  background-color: $housing;

  .display {
    background-color: $display;
    color: rgb(23, 23, 23);
    padding: 15px 20px;
    font-size: 34px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: end;
    border-style: none;
    white-space: nowrap;
  }

  .numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    button {
      color: white;
      border: none;
      padding: 20px 10px;
      cursor: pointer;
      font-size: 24px;
      color: white;
      background-color: $operator;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }

    .num {
      background-color: $num;
    }

    .operator {
      background-color: $operator;
    }

    #clear {
      background: $red;
      color: white;
    }

    #zero {
      grid-column: span 2;
    }

    #plus {
      grid-row: span 2;
    }
  }
}
